@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=IBM+Plex+Sans&family=Sofia+Sans&display=swap');:root{
  --buttonGray: #a5a5a5;
  --buttonOP: #ff9f0a;
  --button: #333333;
  --buttonActive: #737373;
  --buttonOPActive: #fbc78d;
  --buttonGrayActive: #d9d9d9;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Bebas Neue', sans-serif;
  overflow: hidden;
}

.Ccontainer {position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height:600px;
  background-color: black;
  border-radius: 9px;
  border-right: 8px solid #3b3b3b;
  border-bottom: 8px solid #3e3e3e;
  border-top: 8px solid #737373;
  border-left: 8px solid #737373;
  display: flex;
  flex-direction: column;
}

body {
  background-color: gray;
}

.display-container {
  width:100%;
  height:30%;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
}

.previous-display {
  width:100%;
  height:40%;
  position: relative;
  top: 0;
  font-size: 27px;
  color: var(--buttonOP);
  display: flex;
  justify-content: right;
  align-items:flex-end;
}

.current-display {
  width:100%;
  height:60%;
  position: relative;
  bottom: 0;
  font-size: 45px;
  color: white;
  display: flex;
  justify-content: right;
  align-items:flex-end;
}

.display-container span {
  margin: 6px;
}

/* BUTTONS */
.Buttons {
  width: 100%;
  height: 65%;
  min-height: 420px;
  position: absolute;
  bottom: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  user-select: none;
}

.buttonGray {
  border-radius: 100%;
  width: 80%;
  height: 90%;
  background-color: var(--buttonGray);
  color: var(--button);
  font-size: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: ease 0.3s;
}

.buttonGray:hover, .buttonGray:active {
  background-color: var(--buttonGrayActive);
  transition: ease 0.3s;
}

.buttonGray:active {
  transform: scale(0.9);
}
.button:active {
  transform: scale(0.9);
}
.buttonOP:active {
  transform: scale(0.9);
}

.button {
  border-radius: 100%;
  width: 80%;
  height: 90%;
  background-color: var(--button);
  color: white;
  font-size: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: ease 0.3s;
}

.button:hover, .button:active {
  background-color: var(--buttonActive);
  transition: ease 0.3s;
}

.buttonOP {
  border-radius: 100%;
  width: 80%;
  height: 90%;
  background-color: var(--buttonOP);
  color: white;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: ease 0.3s;
}

.buttonOP:hover, .buttonOP:active {
  background-color: var(--buttonOPActive);
  transition: ease 0.3s;
}

.coded {
  width: 200px;
  height: 100px;
  font-size: 20px;
  color: black;
  text-decoration: none;
  position: absolute;
  top: 92%;
  left: 50%;
  transform: translate(-50%, 0%);
  text-align: center;
  color: var(--button);
  font-family: 'Bebas Neue', sans-serif;
}

.coded a {
  color: var(--buttonOP);
  text-decoration: none;
}

@media (max-width: 400px) {
  .Ccontainer{
    width: 94%;
    height: 87%;
  }
  .coded {
    display: none;
  }
}

@media (max-height: 700px){
  .coded {
    display: none;
  }
}